<!doctype html>
@model Web_Project.Models.User
<html>
<head>
    <title>Sign_in</title>
    <meta charset="utf-8" />
    <link href="~/css/account.css" rel="stylesheet" />
</head>

<body>
    <form class="box" method="post" asp-controller="Account" asp-action="CreateUser">
        <h1>회원가입</h1>
        <div class="form-group">
            <input type="text" asp-for="UserId" placeholder="User ID" />
            <span class="text-danger" asp-validation-for="UserId"></span>
        </div>
        <div class="form-group">
            <input type="text" asp-for="UserNickname" placeholder="Nickname" />
            <span class="text-danger" asp-validation-for="UserNickname"></span>
        </div>
        <div class="form-group">
            <input type="password" asp-for="UserPassword" placeholder="Password" />
            <span class="text-danger" asp-validation-for="UserPassword"></span>
        </div>
        <div class="form-group">
            <input type="password" asp-for="UserPassword" placeholder="Password" />
            <span class="text-danger" asp-validation-for="UserPassword"></span>
        </div>
        <div class="row">
            <input type="submit" class="btn btn-primary" value="회원가입"/>
            <input type="button"  value="취소">
        </div>

    </form>
</body>
</html>